:root {
    --color01: #9BABB8;
    --color02: #EEE3CB;
    --color03: #D7C0AE;
    --color04: #967E76;
    --color05: #BFCCB5;
    --color06: #7C96AB;
    --color07: #B7B7B7;
    --color08: #EDC6B1;
    --color09: #567189;
    --color10: #7B8FA1;
    --color11: #CFB997;
    --color12: #FAD6A5;
    --color13: #F2E5E5;
}

body {
    background-color: var(--color04);
    padding-top: 5px;
}

.wrapper {
    margin: 0 auto;
    width: 1024px;
}

.wrapper img {
    width: 100%;
}

.wrapper .logo {
    width: 100%;
    height: 400px;
    background-color: var(--color05);
    background-image: url(../images/LLM_4.jpg);
    background-position: center center;
    background-size: cover;
}

.friend_link nav {
    background-color: var(--color05);
    text-align: center;
}

.friend_link nav ul {
    display: inline-block;
}

.friend_link nav ul li {
    float: left;
    list-style-type: none;
}

.friend_link nav ul li a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--color03);
    color: var(--color09);
    margin-right: 20px;
    text-decoration: none;
    font-weight: bolder;
}

.friend_link nav ul li a:hover {
    background-color: var(--color09);
    color: var(--color03);
}

nav {
    background-color: var(--color05);
    text-align: center;
}

nav ul {
    display: inline-block;
}

nav ul li {
    float: left;
    list-style-type: none;
}

nav ul li a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--color03);
    color: var(--color06);
    margin-right: 20px;
    text-decoration: none;
    font-weight: bolder;
}

nav ul li a.about {
    background-color: var(--color06);
    color: var(--color03);
}

ul li a:hover {
    background-color: var(--color06);
    color: var(--color03);
}

.content_in {
    text-align: center;
    background-color: var(--color13);
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.content_in h1 {
    color: var(--color09);
    margin-bottom: 25px;
}

.content_in p {
    color: var(--color09);
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: bolder;
}

.content_in a {
    display: block;
    width: 100px;
    height: 40px;
    background-color: var(--color10);
    color: var(--color03);
    margin: 0 auto;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    line-height: 40px;
}

.content_in a:hover {
    background-color: var(--color03);
    color: var(--color10);
}

.footer {
    background-color: var(--color06);
    color: var(--color11);
    text-align: center;
}

.footer p {
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 5px;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 95%;
    }
}